## Links

- [Jupyter Notebook](http://jupyter.org/)
- [Microsoft Azure Notebooks](https://notebooks.azure.com)
- [Github guides](https://guides.github.com/)

Here I'm trying a solution for your project:

In [63]:
import pandas
import numpy

# Creating two arrays with floats, just for testing, using numpy.
dtype = [
    ('v1','float32'), 
    ('v2','float32'), 
    ('v3','float32'), 
    ('v4','float32'), 
    ('v5','float32'),
    ('v6','float32'),
    ('v7','float32')
    ]
values = numpy.zeros(5, dtype = dtype)
index = ['Row'+str(i) for i in range(1, len(values)+1)]

# transforming those arrays to Dataframes
df_A = pandas.DataFrame(values, index=index)
df_B = pandas.DataFrame(values, index=index)

In [22]:
df_A

       v1   v2   v3   v4   v5   v6   v7
Row1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Row2  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Row3  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Row4  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Row5  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [52]:
df_B

       v1   v2   v3   v4   v5   v6   v7
Row1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Row2  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Row3  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Row4  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Row5  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [65]:
# A function that is taking two dataframes as arguments
def compare(dfA,dfB):
    # Iterating trough both dataframes
    # len(df_b) is the number of rows on one dataframe, assuming they have the same number of rows.
    for i in range(0,len(df_B.index)):    
        # First row serie transform to int to get just the first number from '0,7' = '0'.
        # Finally converting that int to str
        a = dfA.iloc[i].values.astype(int).astype(str)
        b = dfB.iloc[i].values.astype(int).astype(str)
    
        # Look at this solution to compare two lists - No additional libraries:
        # https://stackoverflow.com/a/29929572/7267846 
        # we are comparing sets and no lists. A set is iterable without a for loop. More info about sets:
        # https://www.programiz.com/python-programming/methods/built-in/set 
        setA = set(a)
        setB = set(b)
        
        # overlap: setA ADN setB
        overlap = setA & setB
        
        # universe: setA OR setB
        universe = setA | setB
        
        result = float(len(overlap)) / len(universe) * 100
        
        print('result_' + str(i) + ': ' + str(result) + '%')

In [66]:
# calling the function using our two dataframes
# it will print the percentaje for each row
compare(df_A,df_B)

result_0: 100.0%
result_1: 100.0%
result_2: 100.0%
result_3: 100.0%
result_4: 100.0%