In [16]:
nombres = ("pedro", "juan", "diego", "ernesta")
print (nombres)

('pedro', 'juan', 'diego', 'ernesta')

In [5]:
apellidos = ("almena", "estaurio", "camberra", "turing")
print (apellidos)

('almena', 'estaurio', 'camberra', 'turing')

In [13]:
nombre_apellidos=(nombres,apellidos)

In [14]:
print(nombre_apellidos)

(('pedro', 'juan', 'diego', 'ernesta'), ('almena', 'estaurio', 'camberra', 'turing'))

In [32]:
print(nombres + apellidos)

('pedro', 'juan', 'diego', 'ernesta', 'almena', 'estaurio', 'camberra', 'turing')

In [31]:
for n in nombres:
    print(n + apellidos)

TypeError: can only concatenate str (not "tuple") to str

In [42]:
for i in range(len(nombres)):
    print(apellidos[i])

almena
estaurio
camberra
turing

In [43]:
for i in range(len(nombres)):
    print(nombres[i],apellidos[i])

pedro almena
juan estaurio
diego camberra
ernesta turing

In [23]:
import random as random

In [24]:
for n in nombres:
   print(n + ' ' + random.choice(apellidos))

pedro turing
juan camberra
diego turing
ernesta estaurio

In [47]:
import random
Lista_de_nombres = ["John","Edward","Tom"]
Lista_de_Apellidos = ["Snow","Baratheon","York","Crisostomo"]
for i in Lista_de_nombres:
   print(i + ' ' + random.choice(Lista_de_Apellidos))

John Snow
Edward Baratheon
Tom Crisostomo

In [41]:
len(nombres)

4

In [52]:
Lista_de_nombres=["Agustín","Tomás","Benjamín","Vicente","Maximiliano"]
Lista_de_Apellidos=["González","Muñoz","Rojas","Díaz","Pérez"]
for n in range(len(Lista_de_Apellidos)):
   print(Lista_de_nombres[n],Lista_de_Apellidos[n])

Agustín González
Tomás Muñoz
Benjamín Rojas
Vicente Díaz
Maximiliano Pérez