In [58]:
import pandas as pd
import numpy as np
import math

In [24]:
!cd data && ls

cancer_all_types.xls                    file.txt
cervical-cancer-risk-classification.zip risk_factors_cervical_cancer.csv
data.xlsx                               tobacco.csv
dataStore.xlsx                          world.sql

In [108]:
dataA = pd.read_excel('data/data.xlsx', sheetname=0)
dataB = pd.read_excel('data/data.xlsx', sheetname=1)

In [109]:
dataA,dataB

(     ID  Row1  Row2  Row3  Row4  Row5  Row6  Row7
 0  A001   1.4   2.4   NaN   NaN   NaN   NaN   NaN
 1  A002   2.3   2.3   4.3   NaN   NaN   NaN   NaN
 2  A003   5.7   2.8   1.2   5.2   NaN   NaN   NaN
 3  A004   7.1   2.2   NaN   NaN   NaN   NaN   NaN
 4  A005   3.2   4.3   4.2   6.1   7.4   3.2   6.2,
      ID  Row1  Row2  Row3  Row4  Row5  Row6  Row7
 0  A001   1.1   2.4   NaN   NaN   NaN   NaN   NaN
 1  A002   2.4   2.3   4.3   NaN   NaN   NaN   NaN
 2  A003   5.7   2.6   1.2   5.1   NaN   NaN   NaN
 3  A004   7.1   2.2   NaN   NaN   NaN   NaN   NaN
 4  A005   3.2   4.3   4.2   6.1   7.3   3.2   6.1)

In [114]:
# Function taking two dataframes as arguments
def compare(dfA,dfB):
    # Using loc will select just the columns with data
    dataA = dfA.loc[:,['Row1','Row2','Row3','Row4','Row5','Row6','Row7']]
    dataB = dfB.loc[:,['Row1','Row2','Row3','Row4','Row5','Row6','Row7']]
    
    # Iterating trough both dataframes
    # len(df_b) is the number of rows on one dataframe, assuming they have the same number of rows.
    
    # Empty list to save partial results
    results = []
    
    for i in range(0,dataB.shape[0]): 
        
        # Transforming each row to a List  
        a = dataA.iloc[i].values
        b = dataB.iloc[i].values
        
        # Removing nan from lists
        aCheck = [value for value in a if not math.isnan(value)]
        bCheck = [value for value in b if not math.isnan(value)]
        
        # Reducing decimals to Two
        def rounding(list):
            newList = []
            for x in list:
                newList.append(float("{0:.1f}".format(x)))
            return newList
    
        y = len(set(rounding(aCheck)).intersection(rounding(bCheck)))
        z = len(bCheck)
        result = y/z 
        results.append(float("{0:.3f}".format(result)))
    
    # Creating a Series from a list
    r = pd.Series(results)
    
    # Merging original dataframes
    merging = pd.merge(dfA, dfB, on='ID')
    
    # Concatenating original Dataframes with our new Series
    conc = pd.concat([merging, r], axis=1)
    
    # Changing column name to %, setting index on ID, and saving to CSV
    conc.rename(columns={0: '%'}, inplace=True)
    conc.set_index('ID',inplace=True)
    conc.to_csv('data/result.csv',sep=',')
    
    # Finally returning our original dataframes concatenated with the new column
    return conc
        

# calling the function using our two dataframes
# it will print the percentaje for each row
compare(dataA,dataB)

,Row1_x,Row2_x,Row3_x,Row4_x,Row5_x,Row6_x,Row7_x,Row1_y,Row2_y,Row3_y,Row4_y,Row5_y,Row6_y,Row7_y,%
ID,,,,,,,,,,,,,,,
A001,1.4,2.4,NaN,NaN,NaN,NaN,NaN,1.1,2.4,NaN,NaN,NaN,NaN,NaN,0.500
A002,2.3,2.3,4.3,NaN,NaN,NaN,NaN,2.4,2.3,4.3,NaN,NaN,NaN,NaN,0.667
A003,5.7,2.8,1.2,5.2,NaN,NaN,NaN,5.7,2.6,1.2,5.1,NaN,NaN,NaN,0.500
A004,7.1,2.2,NaN,NaN,NaN,NaN,NaN,7.1,2.2,NaN,NaN,NaN,NaN,NaN,1.000
A005,3.2,4.3,4.2,6.1,7.4,3.2,6.2,3.2,4.3,4.2,6.1,7.3,3.2,6.1,0.571

In [116]:
! cd data && ls

cancer_all_types.xls                    result.csv
cervical-cancer-risk-classification.zip risk_factors_cervical_cancer.csv
data.xlsx                               tobacco.csv
dataStore.xlsx                          world.sql
file.txt

In [118]:
final = pd.read_csv('data/result.csv', sep=',')
final['%']

0    0.500
1    0.667
2    0.500
3    1.000
4    0.571
Name: %, dtype: float64